################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SehirRehberi.API/.vs/SehirRehberi.API/FileContentIndex
/SehirRehberi.API/.vs/SehirRehberi.API/v17/.suo
/SehirRehberi.API/SehirRehberi.API/bin/Debug/net8.0/SehirRehberi.API.dll
/SehirRehberi.API/SehirRehberi.API/bin/Debug/net8.0/SehirRehberi.API.exe
/SehirRehberi.API/SehirRehberi.API/bin/Debug/net8.0/SehirRehberi.API.pdb
/SehirRehberi.API/SehirRehberi.API/obj/Debug/net8.0/ref/SehirRehberi.API.dll
/SehirRehberi.API/SehirRehberi.API/obj/Debug/net8.0/refint/SehirRehberi.API.dll
/SehirRehberi.API/SehirRehberi.API/obj/Debug/net8.0/apphost.exe
/SehirRehberi.API/SehirRehberi.API/obj/Debug/net8.0/SehirReh.F49D543D.Up2Date
/SehirRehberi.API/SehirRehberi.API/obj/Debug/net8.0/SehirRehberi.API.assets.cache
/SehirRehberi.API/SehirRehberi.API/obj/Debug/net8.0/SehirRehberi.API.csproj.AssemblyReference.cache
*.CopyComplete
/SehirRehberi.API/SehirRehberi.API/obj/Debug/net8.0/SehirRehberi.API.csproj.CoreCompileInputs.cache
/SehirRehberi.API/SehirRehberi.API/obj/Debug/net8.0/SehirRehberi.API.csproj.FileListAbsolute.txt
/SehirRehberi.API/SehirRehberi.API/obj/Debug/net8.0/SehirRehberi.API.dll
/SehirRehberi.API/SehirRehberi.API/obj/Debug/net8.0/SehirRehberi.API.genruntimeconfig.cache
*.json
/SehirRehberi.API/SehirRehberi.API/obj/Debug/net8.0/SehirRehberi.API.pdb
/SehirRehberi.API/SehirRehberi.API/obj/project.assets.json
/SehirRehberi.API/SehirRehberi.API/obj/project.nuget.cache
/SehirRehberi.API/SehirRehberi.API/obj/SehirRehberi.API.csproj.nuget.dgspec.json
/SehirRehberi.API/SehirRehberi.API/obj/SehirRehberi.API.csproj.nuget.g.props
/SehirRehberi.API/SehirRehberi.API/obj/Debug/net8.0/SehirRehberi.API.AssemblyInfo.cs
/SehirRehberi.API/SehirRehberi.API/obj/Debug/net8.0/SehirRehberi.API.AssemblyInfoInputs.cache
