################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SehirRehberi.API/.vs/SehirRehberi.API/FileContentIndex
